{{#block "header"}}

<!DOCTYPE html>
<html>
 <head>
   <title>{{#block "title"}}Hello Friend!{{/block}}
</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous" defer></script>
 </head>
 <body class="container-fluid d-flex flex-column">
 <div class="container">
 <nav>
     <ul class="d-flex justify-content-end navb ">
       <li><a href="/">HOME</a></li>
       <li><a href="/hero/details">YOUR HEROS</a></li>
       <li><a href="#">SQUADS</a></li>
     </ul>
   </nav>
   </div>
{{/block}}

   <!-- begin inner template-->
   <div class="container-fluid">
     {{#block "content"}}
{{/block}}

   </div>
   <!-- end inner template-->
{{#block "footer"}}

 </body>
</html>
{{/block}}
